@page "/about"

<h1>About</h1>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-4"></div>
        <div class="col-2 align-self-center">
            <img class="img-fluid rounded" src="images/arigato.jpg" alt="Arigato"/>
        </div>
    </div>
</div>